<div class="col-md-12">
    <div id="header"></div>
    
    
    <ul id="velo-main-tab" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#velo-edit">Edit</a></li>
        <li><a data-toggle="tab" href="#velo-history">View History</a></li>

    </ul>

    <div class="tab-content">
        <div id="velo-edit" class="tab-pane active">
            <!-- Layout item for main edit / update funtionality -->
        </div>
    
        <div id="velo-history" class="tab-pane">
            <!-- Layout item for history feature -->
            
        </div>
    </div>
</div>