<div class="col-md-6">
    <h1>Add a new Member</h1>

    <div id="bad-login" class="alert alert-danger hidden">ID or password invalid</div>

    
    <form role="form">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" id="name" placeholder="Name">
        </div>
        
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" id="email" placeholder="Email">
        </div>
        
        <div class="form-group">
            <label>Phone</label>
            <input class="form-control" id="phone" placeholder="Phone">
        </div>
        
        <div class="form-group">
            <label>Fee Paid</label>
            <input class="form-control" id="fee" placeholder="Fee paid ($)">
        </div>
        
        <div class="form-group">
            <label>Signoff</label>
            <input type="checkbox" id="phone" placeholder="Sign Off">
        </div>
        
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
    
</div>