<div class="row">
    <div class="col-md-12">
    
        <form id="search-users" class="navbar-form navbar-left" role="search">
            <label>Search for User: </label>
        
            <div class="form-group">
                <input id="search-term" type="text" class="form-contdol" placeholder="Search">
            </div>
        </form>
    
        
        
    
    </div>
    
    <div class="col-md-12">
           
        <table class="table table-bordered table-hover sortable">
            <thead>
                <tr>
                    <th></th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Joined on</th>
                    <th>Registered Until</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="search-results">        
            </tbody>
        </table>
        
        
        
    </div>
</div>